body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#profile-image {
	border-radius: 50%;
}

#skills-section {
	border: 2px solid orange;
    background-color: whitesmoke;
	padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#hobbies-interests {
	border: 2px solid orange;
    background-color: whitesmoke;
	padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

ul {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

.subsection-image {
	max-width: 150px;
	border-radius: 25%;
}